[bumpversion]
current_version = 2.1.0.dev0

# Specify how to search for and replace the version in the 'Cargo.toml' file.
# [bumpversion:file:setup.py]
# search = package_version = "{current_version}"
# replace = package_version = "{new_version}"

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}
