name: "Lint"

on:
  push:
    branches:
    - main
    - github-actions-test
    paths:
    - '**.py'
    - '.github/workflows/lint.yml'
  pull_request:
    branches:
      - main
    paths:
    - '**.py'
    - '.github/workflows/lint.yml'
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: install dependencies [pip]
        run: |
          python -m pip install --upgrade pip
          pip install black isort

      - name : Check Black
        run: |
          black . --check

      - name : Check isort
        run: |
          isort --profile black --check .
